@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


@layer base {
    body {
        font-family: 'Quicksand', sans-serif;
        overflow-y: visible;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.btn-secondary {
    @apply min-w-[110px] px-4 py-2 bg-transparent border-2 border-primary text-primary rounded-md hover:bg-primary hover:text-white transition-colors disabled:opacity-50 text-center
}

.btn-secondary__nav-link{
    @apply px-4 py-2 bg-transparent border-2 border-primary text-primary rounded-md hover:bg-primary hover:text-white transition-colors disabled:opacity-50 text-center
}